$navBack: rgba(black, .9);

$titleGray: #819097;
$subTitleGray: #a9a9a9;
$textGray: #7e7e7e;
$grayBack: #3f3f3f;
$darkGrayBack: #212121;
$sideBorder: rgba(169, 169, 169, 0.4);


$mainTransition: .3s all ease-in-out;
